body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.chat {
  max-width: 1200px;
  margin: 0 auto;
  border: solid 1px #000;
}

.header {
  background-color: #fff;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-title,
.header-users-count,
.header-messages-count,
.header-last-message-date {
  margin: 0 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
}

.message {
  width: 45%;
  padding: 10px;
  margin: 20px;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  overflow-wrap: break-word;
}

.message-info {
  display: flex;
  align-items: flex-start;
}

.message-user-avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.message-controls {
  margin-left: 15%;
}

.message-controls svg {
  display: block;
}

.message-text {
  width: 50%;
}

.message-user-name {
  margin: 0 0 10px 0;
}

.message-liked {
  fill: red;
}

.message-like {
  fill: #ff000078;
}

.message-input {
  position: sticky;
  bottom: 0px;
  height: 50px;
  background-color: #93cfff;
  padding: 6px;
  box-sizing: border-box;
  border-top: 1px solid;
}

.message-input input {
  height: 30px;
  width: 70%;
  margin-right: 10px;
}

.message-input button {
  height: 36px;
  width: 68px;
  background-color: #5a73ff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.own-message {
  width: 45%;
  padding: 10px;
  margin: 20px;
  background-color: #c0fffe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-left: auto;
  overflow-wrap: break-word;
}

.own-message .message-text {
  width: 80%;
}
.own-message-controls-svg {
  display: flex;
}

.own-message svg {
  margin: 3px;
}

.divider {
  background-color: #dadce0;
  border: 0;
  height: 1px;
  margin-top: 18px;
  position: relative;
  width: 100%;
  top: 27px;
}

.messages-divider {
  margin: 5px;
  text-align: center;
}

.messages-divider-date {
  background: #fff;
  border: 1px solid #dadce0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  width: 300px;
  display: inline-block;
  padding: 7px 11px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
